*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  *::placeholder{
    color: white;
    opacity: 0.5;
  }
  body{
    background: url('signin-bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  /* nav bar div */

  .myname
{
    position: fixed;
    top: 10px;
    left: 20px;
    color: rgba(255, 255, 255, 0.596);
    font-family: 'Island Moments', cursive;
    font-size: 30px;
}
.cmain1
{
    width: 100%;
    background: black;
    background-position: center;
    background-size: cover;
    height: 30vh;
    /* box-shadow: 0 10px 10px rgb(21, 51, 27); */
}
.cnavbar
{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.cicon
{
    width: 200px;
    float: left;
    height: 70px;
}
.clogo
{
    margin-top: 50px;
    margin-left: 95px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;
    padding-left: 243px;
    float: left;
    padding-top: 50%;
    width: 400%;
    /* background-color: yellowgreen; */
}
.cmenu1
{
    width: 400px;
    float: left;
    height: 70px;
}
ul
{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li
{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a
{
    text-decoration: none;
    color: #fff;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    transition: 0.6 ease-in-out;
}
ul li a:hover
{
    color: plum;
}
.search
{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch
{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(183, 193, 201, 0.356);
    margin: 13px;
    color: rgb(165, 154, 154);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn
{
    width: 100px;
    height: 40px;
    background: rgba(173, 194, 211, 0.788);
    border: 2px solid rgba(97, 139, 163, 0.363);
    margin-top: 13px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Julius Sans One', sans-serif;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus
{
    outline: none;
}
.srch:focus
{
    outline: none;
}

  /* form div */
  .logon
  {
    height: 100vh;
    background-color: black;
  }
  .content{
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 10;
    text-align: center;
    padding: 60px 32px 60px;
    width: 370px;
    transform: translate(-50%,-50%);
    background: rgba(97, 96, 96, 0.432);
    /* box-shadow: 0 0 50px rgb(16, 2, 82); */
    border-radius: 5px;
  }
  .content h1{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight:bold;
    font-family: 'Julius Sans One', sans-serif;
    margin: 0 0 35px 0;
    /* text-shadow: 4px 2px 4px rgb(24, 23, 23); */
  }
  .field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
  }
  .field span{
    color: #f0f5fc;
    width: 40px;
    line-height: 45px;
  }
  .field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(255, 249, 249);
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
  }
  .space{
    margin-top: 16px;
  }
  .pass{
    text-align: left;
    margin: 10px 0;
  }
  .pass a{
    color: rgb(169, 155, 212);
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
  }
  .pass:hover a{
    color: yellow;
    text-decoration: underline;
  }
  .login{
    background: #0a1924;
    /* box-shadow: 0 0  15px #8cd00d; */
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
  }
  .login input{
    cursor: pointer;
  }
  .login:hover{
    background: #053d62;
  }
  .login-with{
    color: rgb(177, 166, 219);
    margin: 20px 0;
    font-family: 'Julius Sans One', sans-serif;
  }
  .links{
    display: flex;
    cursor: pointer;
    color: white;
    margin: 0 0 20px 0;
  }
  .facebook,.instagram{
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 10px;
  }
  .facebook{
    margin-left: 0;
    background: #4267B2;
    border: 1px solid #3e61a8;
  }
  .instagram{
    margin-left: 10px;
    background: #E1306C;
    border: 1px solid #df2060;
  }
  .facebook:hover{
    background: #3e61a8;
  }
  .instagram:hover{
    background: #df2060;
  }
  .links i{
    font-size: 17px;
    color: #58aae0;
  }
  i span{
    margin-left: 8px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Julius Sans One', sans-serif;
  }
  .signup{
    font-size: 15px;
    color: rgb(238, 182, 182);
    font-family: 'Julius Sans One', sans-serif;
  }
  .signup a{
    color: #97d39d;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
  }
  .signup a:hover{
    text-decoration: underline;
    color: yellow;
  }

  .line
  {
    height: 1px;
  }

  .cmain3
{
    padding-top: 10px;
    background-color: black;
    height: 30vh;
}
.cmenu3
{

    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: rgb(36, 117, 117); */
}
.cmenu3 li a
{
    color: rgba(115, 183, 238, 0.822);
    font-family: 'Julius Sans One', sans-serif;
    margin: 120px;
}
.para2
{
    margin: 35px auto 0;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 12.5px;
    line-height: 20px;
    color: #fff;
    justify-content: center;
    text-align: center;
}
  